
//Author: Jin Lu
//Date Created: 04-20-2022
//Copyright © Jin Lu. All rights reserved. 



*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*login page*/
.general{
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image/book_back.png);
    background-color: rgb(203, 230, 221);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.general-box{
    width: 430px;
    height: 450px;
    position: relative;
    margin: 14% auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #3f20141f;
    border-radius: 30px;
}
.switch-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: 
    linear-gradient(to right, #4d9e9a,rgb(65, 138, 65));
    border-radius: 30px;
    transition: .5s;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.input-box{
    top: relative;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 30px;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(135, 217, 160, 0.286),rgb(29, 141, 117));
}
.check-box{
    margin: 30px 10px 30px 0;
    size: auto;
}
span{
    color: black;
    font-size: 15px;
    bottom: 63px;
    position: absolute;
}
/*cashier interface page*/





/*user interface page*/



/*home page*/
